.nav-Links {
    width: 10%; 
    color: white;
}

a {
    color: black;
}

.navbar-brand {
    color: White;
}
.navbar-brand:hover {
    color: yellow;
}

a:hover {
    color: yellow;
}
.navEffect {
    background-color: gray; 
    color: white;
}
.navbar:hover {
    color: yellow;
}
.navbar {
    background-color: rgb(7, 7, 47);
    background-image: linear-gradient(-100deg, rgb(2, 49, 2), rgb(7, 7, 47));    
    
}